*{
    margin: 0;
}

body{
    font-family: "Roboto", sans-serif;
}

.navbar{
    width: 100%;
    height: 50px;
    background-color: black;
    position: sticky;
    top: 0;
}

.navbar-container{
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: #fff;
    font-family: 'Sen', sans-serif;
}

.logo-container{
    flex: 1;
}

.logo{
    font-size: 17px;
    color: yellow
}

.menu-container{
    flex: 6;
}

.menu-list{
    display: none;
}

.menu-list-item{
    margin-right: 30px;
}

.menu-list-item.active{
    font-weight: bold;
}

.profile-container{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.profile-text-container{
    margin: 0 20px;
}

.profile-picture{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.toggle{
    width: 40px;
    height: 20px;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.toogle-icon{
    color: goldenrod;
}

.toggle-ball{
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
    transition: 1s ease all;
}

.container{
    margin: 0;
    padding: 20px 10px;
    background-color: lightblue;
}

.movie-item{
    display: flex;
}

.movie-item-img{
    width: 250px;
    height: 300px;
    object-fit:fill;
}

.movie-item-text-container{
    margin-top: 40px;
    margin-left: 20px;
}

.movie-item{
    margin-bottom: 20px;
    position: relative;
    background-color: lightblue;
}

.movie-title{
    font-weight: bold;
    font-size: 22px;
    width: 80%;
}

.movie-desc{
    margin-top: 10px;
    width: 70%;
}

.movie-location-date-container{
    font-weight: 400;
    position: absolute;
    bottom: 20%;
    right: 5%;
    color: black;
    font-family: 'Charm', cursive;
    text-align: right;
    width: 30%;
}

.movie-rating-container{
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
}

.movie-rating-icon-container{
    position: relative;
}

.movie-rating-star{
    margin-top: 5px;
    font-size: 60px;
    position: absolute;
    top: 0.5;
    left: 0.5;
    color: green;
}

.movie-rating-rate{
    top: 22px;
    left: 25%;
    position: absolute;
    font-size: 130%;
}

.navbar-container.active{
    background-color: #fff;
    color: black;
}

.toggle.active{
    background-color: black;
}

.toggle-ball.active{
    background-color: #fff;
    transform: translateX(-20px);
}

.logo.active{
    color: black;
}

@media screen and (min-width: 600px){
    .container{
        margin: 0 20%;
        padding: 20px 10px;
        background-color: lightblue;
    }
    .movie-rating-container{
        position: absolute;
        top: 0;
        right: 10%;
        width: 60px;
        height: 60px;
    }
    .movie-desc{
        width: 100%;
    }
    .movie-item-text-container{
        margin-top: 30px;
        margin-left: 40px;
    }
    .movie-title{
        font-weight: bold;
        font-size: 30px;
    }
    .menu-list{
        display: flex;
        list-style: none;
    }
    .movie-location-date-container{
        font-weight: 400;
        position: absolute;
        bottom: 30%;
        right: 30%;
        color: black;
        font-family: 'Charm', cursive;
    }
}



