* {
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.menu-list-item .menu-link {
  color: #fff;
  font-family: "Sen", sans-serif;
  font-size: 16px;
}

a:visited .menu-link {
  color: lightblue;
}

.link {
  color: lightblue;
  margin-right: 5px;
  font-size: 12px;
}

a:visited {
  color: lightblue;
}

a:hover {
  text-decoration: underline;
  filter: brightness(130%);
}

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
}

.navbar {
  width: 100%;
  height: 50px;
  background-color: black;
  position: sticky;
  top: 0;
}

.navbar-container {
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: 100%;
  color: #fff;
  font-family: "Sen", sans-serif;
}

.logo-container {
  flex: 4;
  position: relative;
}

.logo a {
  font-size: 22px;
  position: absolute;
  top: -12px;
  color: yellow;
}

.menu-container {
  flex: 13;
}

.menu-list {
  /* display: none; */
  list-style: none;
}

.menu-list-item {
  margin-right: 30px;
}

.menu-list-item.active {
  font-weight: bold;
}

.profile-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-text-container {
  margin: 0 20px;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.toggle {
  width: 40px;
  height: 20px;
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.toogle-icon {
  color: goldenrod;
}

.toggle-ball {
  width: 18px;
  height: 18px;
  background-color: black;
  position: absolute;
  right: 1px;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s ease all;
}

.container {
  margin: 0;
  padding: 20px 0;
  background-color: rgb(36, 36, 36);
}

.movie-item-img {
  width: 150px;
  height: 200px;
  object-fit: contain;
}

.movie-item-text-container {
  margin-top: 40px;
  margin-left: 20px;
  width: 60%;
}

.movie-item {
  margin-bottom: 20px;
  position: relative;
  background-color: rgb(36, 36, 36);
  color: #fff;
  display: flex;
}

.movie-title {
  font-weight: bold;
  font-size: 18px;
  width: 70%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.movie-desc {
  margin-top: 30px;
  width: 70%;
  font-size: 16px;
}

.link {
  margin-top: 20px;
}

.movie-location-date-container {
  font-weight: 300;
  font-size: 12px;
  position: absolute;
  bottom: 5%;
  right: 10px;
  font-family: "Charm", cursive;
  text-align: right;
  width: 25%;
}

.movie-rating-container {
  position: absolute;
  top: 0;
  right: 5px;
  width: 65px;
  height: 65px;
}

.movie-rating-icon-container {
  position: relative;
}

.movie-rating-star {
  font-size: 60px;
  position: absolute;
  color: green;
}

.movie-rating-rate {
  top: 18px;
  left: 16px;
  position: absolute;
  font-size: 130%;
}

.tooltip {
  position: relative;
  display: inline-block;
  margin-top: 20px;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 60px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 10px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

a:link.active {
  color: rgb(36, 36, 36);
}

a:visited.active {
  color: rgb(36, 36, 36);
}

.container.active {
  background-color: lightblue;
  color: black;
}

.menu-link {
  color: black;
}

.logo.active {
  color: black;
}

.movie-item.active {
  background-color: lightblue;
  color: black;
}

.navbar-container.active {
  background-color: #fff;
  color: black;
}

.toggle.active {
  background-color: black;
}

.toggle-ball.active {
  background-color: #fff;
  transform: translateX(-20px);
}

.logo a.active {
  color: black;
}

@media screen and (min-width: 600px) {
  body {
    background-color: rgb(36, 36, 36);
  }
  .container {
    margin: 0 20%;
    padding: 20px 10px;
  }
  .movie-rating-container {
    position: absolute;
    top: 0;
    right: 10%;
    width: 60px;
    height: 60px;
  }
  .movie-desc {
    width: 100%;
    font-size: 20px;
  }
  a:link {
    font-size: 20px;
  }
  .movie-item-text-container {
    margin-top: 30px;
    margin-left: 40px;
  }
  .movie-title {
    font-weight: bold;
    font-size: 30px;
  }
  .menu-list {
    display: flex;
    list-style: none;
  }
  .movie-location-date-container {
    font-weight: 400;
    font-size: 16px;
    position: absolute;
    bottom: 10%;
    right: 30%;
    font-family: "Charm", cursive;
  }
  .movie-item-img {
    width: 250px;
    height: 300px;
    object-fit: fill;
  }
  .movie-rating-rate {
    top: 18px;
    left: 16px;
    position: absolute;
    font-size: 130%;
  }
}
